body{
    background-color:rgb(196, 212, 228);
    font-family:Arial, Helvetica, serif;
}

header{
    height: 50px;
    background-color: rgb(231, 231, 204);
    position: top fixed;
}

footer{
    height: 50px;
    background-color: rgb(231, 231, 204);
    position: bottom fixed;
}

p{
    font-size:20px;
}
h1{
    background-color:purple;
    display: inline;
    text-align: center;
}
img{
    max-width:45%;
    height:auto;
    margin: 0 auto;
}
div select{
    background-color:rgb(171, 111, 149);
}

a:link
{
    color:purple;
}

a:hover
{
    color:yellow;
}
